# Pulling data from an API

**Importing libraries**

Importando librerias

In [1]:
import requests
import pandas as pd 
from datetime import datetime

**Extract data from the Autolist website**

Extraer datos de la pagina web de Autolist

In [2]:
# User Agent by celaya city
# User Agent para la ciudad de celaya
headers = {
    'authority': 'www.autolist.com',
    'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^94^\\^, ^\\^Google',
    'accept': '*/*',
    'x-requested-with': 'XMLHttpRequest',
    'sec-ch-ua-mobile': '?0',
    'x-autolist-session-guid': 'c9fb9ffb-2c06-4468-a3d0-c26290c6994f',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4590.0 Safari/537.36',
    'sec-ch-ua-platform': '^\\^Windows^\\^',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.autolist.com/listings',
    'accept-language': 'en-US,en;q=0.9',
    'cookie': 'ec=eyJlZGdlVXNlckFnZW50IjoiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzk0LjAuNDU5MC4wIFNhZmFyaS81MzcuMzYifQ==; client_guid_timestamp=1602952f-d1bf-4936-82e3-cbdedfa11d2d.1627825394925; scavenger-a493=i2edJn8U8quG2BtrlZCXcua4KB62fcJRrAhaI/t9eYZNJczdHQYj3P0Y4s6myhEl4IbJl8vp9L0oN+SXDh2fFcTvJ/vA/hPyRJ0ohE6LnQGIee5ACCL3nGqW5xFg3QnijfTypiJhVgTfPjk3c81AtkxzR54e+BHqQL0DI6/oWNd7iIkgvHaWjuilZuITytvFV0IAUJ0bX041NuAIFpx8K90bzfPLeAKgkwc0lpwB3cLwm8NcNKMD3xELdjI6leANl5jZJ9KzZ3K+5J7nCpxnAynFJJt2e95bby70BTVZ0qdWtSWGgwFxEdjmesrF42H7EgAjt4LMIKDuRVtbhVwu/q/wUhPoUZvZb6F+CbFpxMXuZTpd27JmWUrboqGTfyS3Nr7gV1kl6hr+8w0aOlmo8NlrdmNRb0u51Ex4zu4JTymiAUsWvS9JhNr/uvk4GVvM3kafDQeKq7v+xHkB/lCvPkqLEifYP7VVan6h5ZmvaQTgULjs0N5JhUd76Pt6c/tY5R0v8R67gjgbvW8n/4Gqzw==; _sp_ses.8ca5=*; _gid=GA1.2.96049973.1627825395; _fbp=fb.1.1627825395573.409117512; __gads=ID=c459f8bf6d0987dd:T=1627825394:S=ALNI_MaW1epD3HNJsvJQTCnPWSJCcOdE_w; AMP_TOKEN=^%^24NOT_FOUND; sp-nuid=e4461948-a1a2-45a1-88f8-45c2889d9576; _gcl_au=1.1.519751617.1627825557; _ga_152345333=GS1.1.1627825395.1.1.1627828426.0; _ga=GA1.2.2118379867.1627825395; cto_bundle=WV1etl8zMUc1cGt6WnZNSEZMYWhwNnJjUXpTYzQxVzZ6QzM5VE1tWXZFcjQ3ZWhrNTlETG1CemlUdmNFYUtIbXdCQTNFelJmY3h6QXA0SlVIZml0WVg2OWQxZlBPMmRqbExXNU9XZTM0V0VaR09tbHBvJTJGdERCb21zZUVKJTJCTG1vVzlDV0w2VjA0bDklMkJnRjdrMmZPUExmJTJGY0l6USUzRCUzRA; _gat=1; _sp_id.8ca5=d3d3f60d-371c-4289-92fe-1c6f66b4979f.1627825395.1.1627828912.1627825395.8bc1e545-8ca1-448e-b1ba-ec8d2c359ada',
    'if-none-match': 'W/^\\^c6f72fa4ef059e03ea0309ebd57c197d^\\^',
}

# Url Seed
# Url Semilla 
url = "https://www.autolist.com/api/cwv/seo/listings?make=Volkswagen&location=Celaya,%20Gto.&latitude=20.5135374&longitude=-100.8160686&radius=50&page=1"

# # request to the server
# requerimiento al servidor
response = requests.get(url, headers=headers)

In [3]:
# Check status of response
# Checkar status de response
response

In [4]:
# Create Json Object
# Crear un objeto json

results_json = response.json()
#results_json

In [5]:
type(results_json)

dict

In [6]:
# Output Keys
# claves o keys de salida
results_json.keys()

dict_keys(['total_results_count', 'make_model_name', 'trims', 'ad_info', 'search_results', 'html'])

**Find the Data**

Encontrando los datos 

* model (modelo)
* mileage (kilometraje)
* year (a√±o)
* dealer_name (nombre de distribuidor)
* price (precio)

In [7]:
# checking 'search_results' data type
# revisando tipo de datos de 'search_results' 
type(results_json['search_results'])

list

In [5]:
# checking that the list contains the necessary information
# revisando que la lista contenga los datos necesarios
results_json['search_results']

In [9]:
# checking the number of items in the list
# revisando el numero de elementos en la lista
len(results_json['search_results'])

20

In [10]:
result_items = results_json['search_results']

In [11]:
# starting point for the first item in the list (dictionary)
# punto de partida para el primer elemento de la lista (diccionario)
results_json['search_results'][0]

{'available_nationwide': False,
 'created_at': 1637991251,
 'recent_price_drop': False,
 'is_hot': False,
 'href_target': '/listings/3VWL17AJ9GM377232',
 'vdp_url': '/volkswagen-jetta#vin=3VWL17AJ9GM377232',
 'clickoff_url': 'https://www.carmax.com/car/21392875?adcode=ALST&utm_campaign=LG_OC&utm_source=LG_OC_ALST&utm_medium=OC&utm_content=carpage ',
 'accepts_leads': True,
 'open_in_new_window': False,
 'id': 232289104,
 'primary_photo_url': 'https://img2.carmax.com/img/vehicles/21392875/1.jpg?width=1024&watermark=LYCG_1a',
 'thumbnail_url_large': 'https://images.autolist.com/image/fetch/s--TwVAt6Qh--/c_fill,f_auto,q_auto,w_320/https://img2.carmax.com/img/vehicles/21392875/1.jpg%3Fwidth%3D1024%26watermark%3DLYCG_1a',
 'lat': 42.950406,
 'lon': -71.43934,
 'year': 2016,
 'make': 'Volkswagen',
 'model': 'Jetta',
 'model_id': 1667,
 'display_color': '',
 'price': '$17,998',
 'price_unformatted': 17998,
 'mileage': '78,083 Miles',
 'mileage_unformatted': 78083,
 'city': 'Manchester',
 'state': 'NH',
 'distance_from_origin': 2298,
 'dealer_name': 'CarMax Manchester - Now Offering Curbside Pickup',
 'show_message_box': None,
 'email_opt_default': True,
 'show_financing_checkbox': None,
 'show_new_mileage': False,
 'show_thankyou_page': False,
 'show_rsrp': True,
 'click_off': False,
 'pre_check_thankyou': True,
 'cpl_value': 15,
 'partner_type': 'dealer_direct',
 'vin': '3VWL17AJ9GM377232',
 'provider': None,
 'provider_name': 'carmax',
 'always_ask_for_zip': True,
 'listing_id': None,
 'time_on_market': None,
 'total_price_change': None,
 'relative_price_difference': None,
 'listimate_category': None,
 'listimate_text': None,
 'photo_urls': [],
 'tracking_params': {'id_from_provider': '3VWL17AJ9GM377232',
  'remote_dealer_id': '6107',
  'dealer_name': 'CarMax Manchester',
  'remote_sku': '21392875',
  'experience': 'national_backfill',
  'rooftop_unique_name': None,
  'rooftop_uuid': None,
  'dealer_unique_name': 'carmax_manchester',
  'dealer_uuid': '444119ef-aa31-4ca0-acc8-51e931c4e929',
  'dealer_group_unique_name': 'carmax',
  'dealer_group_uuid': 'f6138600-f21e-4c20-90b8-308961c3e520'},
 'trim': '1.8T SEL PZEV',
 'provider_id': 146,
 'provider_group_id': 149,
 'experience': 'local_if_nearby',
 'regional': True,
 'badges': {'position0': None, 'position1': None},
 'quick_picks_eligible': False}

In [12]:
# found model data
# encontrado dato del modelo 
results_json['search_results'][0]['model']

'Jetta'

In [13]:
# Finding mileage data
# encontrando dato de Kilometraje
results_json['search_results'][0]['mileage']

'78,083 Miles'

In [14]:
# finding year data
# encontrando dato del a√±o
results_json['search_results'][0]['year']

2016

In [15]:
# finding distributor name data
# encontrando dato del nombre de distribuidor
results_json['search_results'][0]['dealer_name']

'CarMax Manchester - Now Offering Curbside Pickup'

In [16]:
# finding data price
# encontrando datos del precio (dolares)
results_json['search_results'][0]['price']

'$17,998'

## Set Paths of Files (Establecer las rutas de los archivos)

In [17]:
# file used to store all extracted data
# archivo utilizado para almacenar todos los datos extra√≠dos
tmpfile = "data_extracted_temp.tmp"

# all event logs will be stored in this file
# todos los registros de eventos ser√°n almacenados en este archivo
logfile = "dealership_logfile.txt"

# file where transformed data is stored
# archivo donde se almacenan los datos transformados
targetfile = "dealership_transformed_data.csv"

## Extract

In [18]:
# creating a function
# creando una funci√≥n
def extract():
    
    # create empty lists
    # crear listas vacias
    modelo = []
    kilometraje = []
    a√±o = []
    nom_distribuidor = []
    precio = []

    for result in result_items:
        
        # model (modelo)
        modelo.append(result['model'])
        
        # mileage (kilometraje)
        kilometraje.append(result['mileage'])
        
        # year (a√±o)
        a√±o.append(result['year']) 
        
        # dealer name (nombre de distribuidor)
        nom_distribuidor.append(result['dealer_name']) 
        
        # price (precio)
        precio.append(result['price'])

        # create an empty dataframe to hold extracted data
        # crear un dataframe vac√≠o para contener los datos extra√≠dos
        extracted_data = pd.DataFrame({'Modelo': modelo, 'Kilometraje': kilometraje,
                                    'A√±o': a√±o, 'Nombre del distribuidor': nom_distribuidor, 'Precio': precio})

    return extracted_data

In [19]:
extracted_data = extract()
extracted_data.head()

,Modelo,Kilometraje,A√±o,Nombre del distribuidor,Precio
0,Jetta,"78,083 Miles",2016,CarMax Manchester - Now Offering Curbside Pickup,"$17,998"
1,Jetta,"18,272 Miles",2017,CarMax Glencoe (Edens Expy) - Now Offering Cur...,"$22,998"
2,Passat,"77,951 Miles",2017,CarMax Naples - Now Offering Curbside Pickup A...,"$16,998"
3,Tiguan,"29,397 Miles",2018,CarMax McKinney - Now Offering Curbside Pickup...,"$22,998"
4,Beetle,"51,537 Miles",2013,CarMax El Paso - Now Offering Curbside Pickup,"$20,998"

In [20]:
extracted_data['Kilometraje'][0].strip(' Miles')

'78,083'

In [21]:
extracted_data['Kilometraje'][0].strip(' Miles').replace(',', '')

'78083'

In [22]:
extracted_data['Nombre del distribuidor'][0].split('-')[0]

'CarMax Manchester '

## Transfrom

**Transform data from string to int ,miles to kilometers and split column Distributor name to Distributor and bidding**

Transformar datos de string a int ,millas en kilometros y dividir columna Nombre del distribuidor en Distribuidor y ofertando

In [23]:
def transform(data):
    # convert miles to kilometers
    # convervir millas a kilometros
    without_miles = lambda x : x.strip(' Miles').replace(',', '')
    data['Kilometraje'] = data['Kilometraje'].apply(without_miles)
    data['Kilometraje'] = data['Kilometraje'].apply(lambda km: float(km) * 1.609)
    
    # split column 'Distributor name
    # dividir columna 'Nombre de distribuidor'
    data['Ubicaci√≥n de Distribuior'] = data['Nombre del distribuidor'].apply( lambda col: col.split('-')[0])
    data['Oferta de Distribuidor'] = data['Nombre del distribuidor'].apply( lambda col: col.split('-')[1])
    data.drop(['Nombre del distribuidor'], axis=1, inplace = True)
    return data

In [24]:
transform_data = transform(extracted_data)
transform_data.head()

,Modelo,Kilometraje,A√±o,Precio,Ubicaci√≥n de Distribuior,Oferta de Distribuidor
0,Jetta,125635.547,2016,"$17,998",CarMax Manchester,Now Offering Curbside Pickup
1,Jetta,29399.648,2017,"$22,998",CarMax Glencoe (Edens Expy),Now Offering Curbside Pickup
2,Passat,125423.159,2017,"$16,998",CarMax Naples,Now Offering Curbside Pickup And Home Delivery
3,Tiguan,47299.773,2018,"$22,998",CarMax McKinney,Now Offering Curbside Pickup And Home Delivery
4,Beetle,82923.033,2013,"$20,998",CarMax El Paso,Now Offering Curbside Pickup

## Loading

In [25]:
def load(targetfile, data_to_load):
    data_to_load.to_csv(targetfile)

## Logging

In [26]:
# change the name of the logfile to the one specified in the set paths section.
# change the timestamp order to Hour-Minute-Second-Monthname-Day-Year.
# cambiar el nombre del archivo de registro al especificado en la secci√≥n de rutas
# Cambiar el orden del timestamp a Hora-Minuto-Segundo-Nombre-D√≠a-A√±o.)
def log(message):
    ## Hour-Minute-Second-MonthName-Day-Year
    # (Hora-Minuto-Segundo-NombreDeMes-D√≠a-A√±o)
    timestamp_format = '%H:%M:%S-%h-%d-%Y'

    ## get current timestamp
    # (obtener el timestamp actual)
    now = datetime.now()

    timestamp = now.strftime(timestamp_format)

# se crea un nuevo archivo dealership_logifile que almacena el timestamp y el message
    with open("dealership_logfile.txt", "a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running ETL Process (Corriendo Proceso ETL)

**Log that you have started the ETL process**

Registrar que ha iniciado el proceso ETL

In [27]:
log("ETL Process Job Started, Inicio de Proceso ETL") # parameter message

# call the extract function
# llamar a la funci√≥n de extracci√≥n
extracted_data = extract()

# Log that you have completed the Extract phase
# Registrar que ha completado la fase de Extracci√≥n
log("Extract phase Ended, fase de extraccion finalizada") # parameter message

**checking the extraction phase**

comprobando la fase de extracci√≥n

In [28]:
extracted_data.head()

,Modelo,Kilometraje,A√±o,Nombre del distribuidor,Precio
0,Jetta,"78,083 Miles",2016,CarMax Manchester - Now Offering Curbside Pickup,"$17,998"
1,Jetta,"18,272 Miles",2017,CarMax Glencoe (Edens Expy) - Now Offering Cur...,"$22,998"
2,Passat,"77,951 Miles",2017,CarMax Naples - Now Offering Curbside Pickup A...,"$16,998"
3,Tiguan,"29,397 Miles",2018,CarMax McKinney - Now Offering Curbside Pickup...,"$22,998"
4,Beetle,"51,537 Miles",2013,CarMax El Paso - Now Offering Curbside Pickup,"$20,998"

**Log that you have started the Transform phase**

Registrar que ha iniciado la fase de Transformaci√≥n

In [29]:
log("Transform phase Started, Fase de tranformacion iniciada")

# Call the transform function
# Llama a la funci√≥n de transformaci√≥n
transformed_data = transform(extracted_data)

# Log that you have completed the Transform phase
# Registrar que se ha completado la fase de Transformaci√≥n
log("Transform phase Ended, Fase de transformaci√≥n finalizada")

**checking the transformation phase**

comprobando la fase de transformaci√≥n

In [30]:
transformed_data.head()

,Modelo,Kilometraje,A√±o,Precio,Ubicaci√≥n de Distribuior,Oferta de Distribuidor
0,Jetta,125635.547,2016,"$17,998",CarMax Manchester,Now Offering Curbside Pickup
1,Jetta,29399.648,2017,"$22,998",CarMax Glencoe (Edens Expy),Now Offering Curbside Pickup
2,Passat,125423.159,2017,"$16,998",CarMax Naples,Now Offering Curbside Pickup And Home Delivery
3,Tiguan,47299.773,2018,"$22,998",CarMax McKinney,Now Offering Curbside Pickup And Home Delivery
4,Beetle,82923.033,2013,"$20,998",CarMax El Paso,Now Offering Curbside Pickup

**checking the load phase**

comprobando la fase de carga

In [258]:
# Log that you have started the Load step
# Registrar que se ha iniciado el paso de carga
log("Load phase Started, Fase de carga iniciada")

# Call the Load function
# Llamar la funci√≥n load
load(targetfile, transformed_data)

# Log that you have completed the Load step
# Registrar que ha completado el paso de carga
log("Load phase Ended, Fase de carga finalizada")

**Log that the ETL process has been completed.**

Registrar que el proceso ETL ha sido completado

In [31]:
log('ETL Process Ended, Proceso ETL finalizado')

**Checking that csv file has been created successfully**

Revisando que archivo csv se ha creado satisfactoriamente

In [32]:
df = pd.read_csv('dealership_transformed_data.csv', index_col=[0])
df.head()

,Modelo,Kilometraje,A√±o,Precio,Ubicaci√≥n de Distribuior,Oferta de Distribuidor
0,Jetta,116583.313,2016,"$15,998",CarMax Hillside (Eisenhower Expy),Now Offering Curbside Pickup
1,Jetta,125635.547,2016,"$17,998",CarMax Manchester,Now Offering Curbside Pickup
2,Jetta,29399.648,2017,"$22,998",CarMax Glencoe (Edens Expy),Now Offering Curbside Pickup
3,Passat,125423.159,2017,"$16,998",CarMax Naples,Now Offering Curbside Pickup And Home Delivery
4,Tiguan,47299.773,2018,"$22,998",CarMax McKinney,Now Offering Curbside Pickup And Home Delivery

**Review the log file**

Revisar el archivo de registros

In [33]:
df_logs = pd.read_csv('dealership_logfile.txt', index_col=0, encoding = 'latin-1')
df_logs

,ETL Process Job Started,Inicio de Proceso ETL
16:30:14-Dec-01-2021,,
16:30:14-Dec-01-2021,Extract phase Ended,fase de extraccion finalizada
16:32:36-Dec-01-2021,ETL Process Job Started,Inicio de Proceso ETL
16:32:36-Dec-01-2021,Extract phase Ended,fase de extraccion finalizada
16:41:29-Dec-01-2021,Transform phase Started,Fase de tranformacion iniciada
16:41:29-Dec-01-2021,Transform phase Ended,Fase de transformaci√≥n finalizada
16:45:09-Dec-01-2021,ETL Process Job Started,Inicio de Proceso ETL
16:45:09-Dec-01-2021,Extract phase Ended,fase de extraccion finalizada
16:50:01-Dec-01-2021,Load phase Started,Fase de carga iniciada
16:50:02-Dec-01-2021,Load phase Ended,Fase de carga finalizada
16:53:27-Dec-01-2021,ETL Process Ended,Proceso ETL finalizado
17:08:15-Dec-01-2021,Transform phase Started,Fase de tranformacion iniciada
17:08:15-Dec-01-2021,Transform phase Ended,Fase de transformaci√≥n finalizada
17:08:23-Dec-01-2021,Load phase Started,Fase de carga iniciada
17:08:23-Dec-01-2021,Load phase Ended,Fase de carga finalizada
17:08:29-Dec-01-2021,ETL Process Ended,Proceso ETL finalizado
21:26:43-Dec-02-2021,ETL Process Job Started,Inicio de Proceso ETL
21:26:43-Dec-02-2021,Extract phase Ended,fase de extraccion finalizada
21:27:03-Dec-02-2021,Transform phase Started,Fase de tranformacion iniciada
21:27:03-Dec-02-2021,Transform phase Ended,Fase de transformaci√≥n finalizada
21:27:14-Dec-02-2021,ETL Process Ended,Proceso ETL finalizado

---

## Multi-page Scraping

## Scraping de Multiples p√°ginas

In [9]:
def Scraping(url, filename):

    headers = {
        'authority': 'www.autolist.com',
        'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^94^\\^, ^\\^Google',
        'accept': '*/*',
        'x-requested-with': 'XMLHttpRequest',
        'sec-ch-ua-mobile': '?0',
        'x-autolist-session-guid': 'c9fb9ffb-2c06-4468-a3d0-c26290c6994f',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4590.0 Safari/537.36',
        'sec-ch-ua-platform': '^\\^Windows^\\^',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-mode': 'cors',
        'sec-fetch-dest': 'empty',
        'referer': 'https://www.autolist.com/listings',
        'accept-language': 'en-US,en;q=0.9',
        'cookie': 'ec=eyJlZGdlVXNlckFnZW50IjoiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzk0LjAuNDU5MC4wIFNhZmFyaS81MzcuMzYifQ==; client_guid_timestamp=1602952f-d1bf-4936-82e3-cbdedfa11d2d.1627825394925; scavenger-a493=i2edJn8U8quG2BtrlZCXcua4KB62fcJRrAhaI/t9eYZNJczdHQYj3P0Y4s6myhEl4IbJl8vp9L0oN+SXDh2fFcTvJ/vA/hPyRJ0ohE6LnQGIee5ACCL3nGqW5xFg3QnijfTypiJhVgTfPjk3c81AtkxzR54e+BHqQL0DI6/oWNd7iIkgvHaWjuilZuITytvFV0IAUJ0bX041NuAIFpx8K90bzfPLeAKgkwc0lpwB3cLwm8NcNKMD3xELdjI6leANl5jZJ9KzZ3K+5J7nCpxnAynFJJt2e95bby70BTVZ0qdWtSWGgwFxEdjmesrF42H7EgAjt4LMIKDuRVtbhVwu/q/wUhPoUZvZb6F+CbFpxMXuZTpd27JmWUrboqGTfyS3Nr7gV1kl6hr+8w0aOlmo8NlrdmNRb0u51Ex4zu4JTymiAUsWvS9JhNr/uvk4GVvM3kafDQeKq7v+xHkB/lCvPkqLEifYP7VVan6h5ZmvaQTgULjs0N5JhUd76Pt6c/tY5R0v8R67gjgbvW8n/4Gqzw==; _sp_ses.8ca5=*; _gid=GA1.2.96049973.1627825395; _fbp=fb.1.1627825395573.409117512; __gads=ID=c459f8bf6d0987dd:T=1627825394:S=ALNI_MaW1epD3HNJsvJQTCnPWSJCcOdE_w; AMP_TOKEN=^%^24NOT_FOUND; sp-nuid=e4461948-a1a2-45a1-88f8-45c2889d9576; _gcl_au=1.1.519751617.1627825557; _ga_152345333=GS1.1.1627825395.1.1.1627828426.0; _ga=GA1.2.2118379867.1627825395; cto_bundle=WV1etl8zMUc1cGt6WnZNSEZMYWhwNnJjUXpTYzQxVzZ6QzM5VE1tWXZFcjQ3ZWhrNTlETG1CemlUdmNFYUtIbXdCQTNFelJmY3h6QXA0SlVIZml0WVg2OWQxZlBPMmRqbExXNU9XZTM0V0VaR09tbHBvJTJGdERCb21zZUVKJTJCTG1vVzlDV0w2VjA0bDklMkJnRjdrMmZPUExmJTJGY0l6USUzRCUzRA; _gat=1; _sp_id.8ca5=d3d3f60d-371c-4289-92fe-1c6f66b4979f.1627825395.1.1627828912.1627825395.8bc1e545-8ca1-448e-b1ba-ec8d2c359ada',
        'if-none-match': 'W/^\\^c6f72fa4ef059e03ea0309ebd57c197d^\\^',
    }

    response = requests.get(url, headers=headers)
    print('the response status is : {}'.format(response))

    id = []
    modelo = []
    kilometraje = []
    a√±o = []
    nom_distribuidor = []
    precio = []

    # EXTRACT
    # 5 pages (5 paginas)
    for i in range(1,6):

        # json object
        results_json = response.json()
        
        # result items (20 items por cada pagina)
        result_items = results_json['search_results']
        
        for result in result_items:
            id.append(result['id'])
            modelo.append(result['model'])
            kilometraje.append(result['mileage'])
            a√±o.append(result['year']) 
            nom_distribuidor.append(result['dealer_name']) 
            precio.append(result['price'])
    
        multiple_df = pd.DataFrame({'id': id, 'Modelo': modelo, 'Kilometraje': kilometraje, 'A√±o': a√±o,
                                    'Nombre del distribuidor': nom_distribuidor, 'Precio': precio})

        # TRANSFORM
        without_miles = lambda x: x.strip(' Miles').replace(',', '')
        multiple_df['Kilometraje'] = multiple_df['Kilometraje'].apply(without_miles)
        multiple_df['Kilometraje'] = multiple_df['Kilometraje'].apply(lambda km: float(km) * 1.609)
        multiple_df['Precio'] = multiple_df['Precio'].apply(lambda p: p.replace(',', '').strip('$'))
        
        
        multiple_df['Ubicaci√≥n de Distribuidor'] = multiple_df['Nombre del distribuidor'].apply(lambda col: col.split('-')[0])
        multiple_df['Oferta de Distribuidor'] = multiple_df['Nombre del distribuidor'].apply(lambda col: col.split('-')[1])
        multiple_df['Oferta de Distribuidor'] = multiple_df['Oferta de Distribuidor'].apply(lambda space: space.strip(' '))
        multiple_df['Ubicaci√≥n de Distribuidor'] = multiple_df['Ubicaci√≥n de Distribuidor'].apply(lambda space2: space2.strip(' '))
        multiple_df.drop(['Nombre del distribuidor'], axis=1, inplace=True)
        
        # LOAD    
        multiple_df.to_csv(filename + '.csv', index=False)            
            
    return multiple_df.head()

In [10]:
url_5pages = "https://www.autolist.com/api/cwv/seo/listings?make=Volkswagen&location=Celaya,%20Gto.&latitude=20.5135374&longitude=-100.8160686&radius=50&page=1"

In [11]:
Scraping(url_5pages, 'data_multipages')

the response status is : <Response [200]>

,id,Modelo,Kilometraje,A√±o,Precio,Ubicaci√≥n de Distribuidor,Oferta de Distribuidor
0,232289104,Jetta,125635.547,2016,17998,CarMax Manchester,Now Offering Curbside Pickup
1,230419192,Jetta,29399.648,2017,22998,CarMax Glencoe (Edens Expy),Now Offering Curbside Pickup
2,232489416,Beetle,82923.033,2013,20998,CarMax El Paso,Now Offering Curbside Pickup
3,232848639,Passat,55410.742,2018,21998,CarMax Newark,Now Offering Curbside Pickup
4,232850566,Jetta,10392.531,2021,25998,CarMax Turnersville,Now Offering Curbside Pickup

In [12]:
# review the newly created csv file
# revisar el archivo csv recien creado
multiple_df = pd.read_csv('data_multipages.csv')
multiple_df.head()

,id,Modelo,Kilometraje,A√±o,Precio,Ubicaci√≥n de Distribuidor,Oferta de Distribuidor
0,232289104,Jetta,125635.547,2016,17998,CarMax Manchester,Now Offering Curbside Pickup
1,230419192,Jetta,29399.648,2017,22998,CarMax Glencoe (Edens Expy),Now Offering Curbside Pickup
2,232489416,Beetle,82923.033,2013,20998,CarMax El Paso,Now Offering Curbside Pickup
3,232848639,Passat,55410.742,2018,21998,CarMax Newark,Now Offering Curbside Pickup
4,232850566,Jetta,10392.531,2021,25998,CarMax Turnersville,Now Offering Curbside Pickup

---

## Loading the dataset to a table in MySQL

## Cargando el dataset a una tabla en MySQL

In [13]:
# 100 filas 5 columnas
multiple_df.shape

(100, 7)

In [14]:
multiple_df.columns.values

array(['id', 'Modelo', 'Kilometraje', 'A√±o', 'Precio',
       'Ubicaci√≥n de Distribuidor', 'Oferta de Distribuidor'],
      dtype=object)

In [1]:
import pymysql
import mysql.connector

In [78]:
db= mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'dadax_0331//_1330',
    database = 'test_autolist'
)
my_cur = db.cursor()

my_cur.execute("DROP TABLE IF EXISTS cars_celaya")
my_cur.execute("CREATE TABLE cars_celaya (id bigint PRIMARY KEY, modelo varchar(50), km float(6,3), a√±o int, precio int, ubicacion_distribuidor varchar(255), oferta_distribuidor varchar(255));")
my_cur.execute('DESCRIBE cars_celaya')

for x in my_cur:
    print(x)

('id', b'bigint', 'NO', 'PRI', None, '')
('modelo', b'varchar(50)', 'YES', '', None, '')
('km', b'float(6,3)', 'YES', '', None, '')
('a√±o', b'int', 'YES', '', None, '')
('precio', b'int', 'YES', '', None, '')
('ubicacion_distribuidor', b'varchar(255)', 'YES', '', None, '')
('oferta_distribuidor', b'varchar(255)', 'YES', '', None, '')

**creating the INSERT statement**

creando la sentencia INSERT

In [97]:
insert_query = 'INSERT INTO cars_celaya (id, modelo, km, a√±o, precio, ubicacion_distribuidor, oferta_distribuidor) VALUES '

In [98]:

for i in range(multiple_df.shape[0]):  # num of rows
    insert_query += '('

    for j in range(multiple_df.shape[1]):  # num of columns

        insert_query += str(multiple_df[multiple_df.columns.values[j]][i]) + ', ' 

    insert_query = insert_query[:-2] + '), '

In [99]:
insert_query = insert_query[:-2] + ';'

In [100]:
insert_query

'INSERT INTO cars_celaya (id, modelo, km, a√±o, precio, ubicacion_distribuidor, oferta_distribuidor) VALUES (232289104, Jetta, 125635.547, 2016, 17998, CarMax Manchester, Now Offering Curbside Pickup), (230419192, Jetta, 29399.648, 2017, 22998, CarMax Glencoe (Edens Expy), Now Offering Curbside Pickup), (232489416, Beetle, 82923.033, 2013, 20998, CarMax El Paso, Now Offering Curbside Pickup), (232848639, Passat, 55410.742, 2018, 21998, CarMax Newark, Now Offering Curbside Pickup), (232850566, Jetta, 10392.531, 2021, 25998, CarMax Turnersville, Now Offering Curbside Pickup), (232778839, Tiguan, 91762.879, 2018, 20998, CarMax Sanford, Now Offering Curbside Pickup And Home Delivery), (232106560, Jetta, 112341.989, 2019, 19998, CarMax Gulf Freeway, Now Offering Curbside Pickup And Home Delivery), (232028696, Arteon, 11444.817, 2021, 44998, CarMax St. Louis Mid Rivers Mall, Now Offering Curbside Pickup), (232652409, Tiguan, 49549.155, 2019, 27998, CarMax Jacksonville, Now Offering Curbside Pickup And Home Delivery), (232849477, Jetta, 25948.343, 2019, 19998, CarMax Colorado Springs, Now Offering Curbside Pickup And Home Delivery), (232027118, Jetta, 45534.7, 2019, 25998, CarMax Gaithersburg, Now Offering Curbside Pickup), (231960124, Golf, 7227.628, 2020, 25998, CarMax Fort Bend, Now Offering Curbside Pickup And Home Delivery), (230450210, Tiguan, 25615.28, 2017, 21998, CarMax Miami Lakes, Now Offering Curbside Pickup And Home Delivery), (230651920, Jetta, 66599.728, 2019, 22998, CarMax West Sahara, Now Offering Curbside Pickup And Home Delivery), (232670338, Atlas, 80781.454, 2018, 35998, CarMax Fremont, Now Open), (232644027, Atlas Cross Sport, 31336.884, 2020, 37998, CarMax Independence Boulevard, Now Offering Curbside Pickup And Home Delivery), (230904851, Passat, 83201.39, 2017, 17998, CarMax Ft. Lauderdale, Now Offering Curbside Pickup And Home Delivery), (231345193, Atlas, 19768.174, 2020, 44998, CarMax Frederick, Now Offering Curbside Pickup), (232349277, Tiguan, 47579.739, 2018, 32998, CarMax Gastonia, Now Offering Curbside Pickup And Home Delivery), (232776052, Tiguan, 104420.882, 2014, 19998, CarMax Murrieta, Now Offering Curbside Pickup And Home Delivery), (232289104, Jetta, 125635.547, 2016, 17998, CarMax Manchester, Now Offering Curbside Pickup), (230419192, Jetta, 29399.648, 2017, 22998, CarMax Glencoe (Edens Expy), Now Offering Curbside Pickup), (232489416, Beetle, 82923.033, 2013, 20998, CarMax El Paso, Now Offering Curbside Pickup), (232848639, Passat, 55410.742, 2018, 21998, CarMax Newark, Now Offering Curbside Pickup), (232850566, Jetta, 10392.531, 2021, 25998, CarMax Turnersville, Now Offering Curbside Pickup), (232778839, Tiguan, 91762.879, 2018, 20998, CarMax Sanford, Now Offering Curbside Pickup And Home Delivery), (232106560, Jetta, 112341.989, 2019, 19998, CarMax Gulf Freeway, Now Offering Curbside Pickup And Home Delivery), (232028696, Arteon, 11444.817, 2021, 44998, CarMax St. Louis Mid Rivers Mall, Now Offering Curbside Pickup), (232652409, Tiguan, 49549.155, 2019, 27998, CarMax Jacksonville, Now Offering Curbside Pickup And Home Delivery), (232849477, Jetta, 25948.343, 2019, 19998, CarMax Colorado Springs, Now Offering Curbside Pickup And Home Delivery), (232027118, Jetta, 45534.7, 2019, 25998, CarMax Gaithersburg, Now Offering Curbside Pickup), (231960124, Golf, 7227.628, 2020, 25998, CarMax Fort Bend, Now Offering Curbside Pickup And Home Delivery), (230450210, Tiguan, 25615.28, 2017, 21998, CarMax Miami Lakes, Now Offering Curbside Pickup And Home Delivery), (230651920, Jetta, 66599.728, 2019, 22998, CarMax West Sahara, Now Offering Curbside Pickup And Home Delivery), (232670338, Atlas, 80781.454, 2018, 35998, CarMax Fremont, Now Open), (232644027, Atlas Cross Sport, 31336.884, 2020, 37998, CarMax Independence Boulevard, Now Offering Curbside Pickup And Home Delivery), (230904851, Passat, 83201.39, 2017, 17998, CarMax Ft. Lauderdale, Now Offering Curbside Pickup And Home Delivery), (231345193, Atlas, 19768.174, 2020, 44998, CarMax Frederick, Now Offering Curbside Pickup), (232349277, Tiguan, 47579.739, 2018, 32998, CarMax Gastonia, Now Offering Curbside Pickup And Home Delivery), (232776052, Tiguan, 104420.882, 2014, 19998, CarMax Murrieta, Now Offering Curbside Pickup And Home Delivery), (232289104, Jetta, 125635.547, 2016, 17998, CarMax Manchester, Now Offering Curbside Pickup), (230419192, Jetta, 29399.648, 2017, 22998, CarMax Glencoe (Edens Expy), Now Offering Curbside Pickup), (232489416, Beetle, 82923.033, 2013, 20998, CarMax El Paso, Now Offering Curbside Pickup), (232848639, Passat, 55410.742, 2018, 21998, CarMax Newark, Now Offering Curbside Pickup), (232850566, Jetta, 10392.531, 2021, 25998, CarMax Turnersville, Now Offering Curbside Pickup), (232778839, Tiguan, 91762.879, 2018, 20998, CarMax Sanford, Now Offering Curbside Pickup And Home Delivery), (232106560, Jetta, 112341.989, 2019, 19998, CarMax Gulf Freeway, Now Offering Curbside Pickup And Home Delivery), (232028696, Arteon, 11444.817, 2021, 44998, CarMax St. Louis Mid Rivers Mall, Now Offering Curbside Pickup), (232652409, Tiguan, 49549.155, 2019, 27998, CarMax Jacksonville, Now Offering Curbside Pickup And Home Delivery), (232849477, Jetta, 25948.343, 2019, 19998, CarMax Colorado Springs, Now Offering Curbside Pickup And Home Delivery), (232027118, Jetta, 45534.7, 2019, 25998, CarMax Gaithersburg, Now Offering Curbside Pickup), (231960124, Golf, 7227.628, 2020, 25998, CarMax Fort Bend, Now Offering Curbside Pickup And Home Delivery), (230450210, Tiguan, 25615.28, 2017, 21998, CarMax Miami Lakes, Now Offering Curbside Pickup And Home Delivery), (230651920, Jetta, 66599.728, 2019, 22998, CarMax West Sahara, Now Offering Curbside Pickup And Home Delivery), (232670338, Atlas, 80781.454, 2018, 35998, CarMax Fremont, Now Open), (232644027, Atlas Cross Sport, 31336.884, 2020, 37998, CarMax Independence Boulevard, Now Offering Curbside Pickup And Home Delivery), (230904851, Passat, 83201.39, 2017, 17998, CarMax Ft. Lauderdale, Now Offering Curbside Pickup And Home Delivery), (231345193, Atlas, 19768.174, 2020, 44998, CarMax Frederick, Now Offering Curbside Pickup), (232349277, Tiguan, 47579.739, 2018, 32998, CarMax Gastonia, Now Offering Curbside Pickup And Home Delivery), (232776052, Tiguan, 104420.882, 2014, 19998, CarMax Murrieta, Now Offering Curbside Pickup And Home Delivery), (232289104, Jetta, 125635.547, 2016, 17998, CarMax Manchester, Now Offering Curbside Pickup), (230419192, Jetta, 29399.648, 2017, 22998, CarMax Glencoe (Edens Expy), Now Offering Curbside Pickup), (232489416, Beetle, 82923.033, 2013, 20998, CarMax El Paso, Now Offering Curbside Pickup), (232848639, Passat, 55410.742, 2018, 21998, CarMax Newark, Now Offering Curbside Pickup), (232850566, Jetta, 10392.531, 2021, 25998, CarMax Turnersville, Now Offering Curbside Pickup), (232778839, Tiguan, 91762.879, 2018, 20998, CarMax Sanford, Now Offering Curbside Pickup And Home Delivery), (232106560, Jetta, 112341.989, 2019, 19998, CarMax Gulf Freeway, Now Offering Curbside Pickup And Home Delivery), (232028696, Arteon, 11444.817, 2021, 44998, CarMax St. Louis Mid Rivers Mall, Now Offering Curbside Pickup), (232652409, Tiguan, 49549.155, 2019, 27998, CarMax Jacksonville, Now Offering Curbside Pickup And Home Delivery), (232849477, Jetta, 25948.343, 2019, 19998, CarMax Colorado Springs, Now Offering Curbside Pickup And Home Delivery), (232027118, Jetta, 45534.7, 2019, 25998, CarMax Gaithersburg, Now Offering Curbside Pickup), (231960124, Golf, 7227.628, 2020, 25998, CarMax Fort Bend, Now Offering Curbside Pickup And Home Delivery), (230450210, Tiguan, 25615.28, 2017, 21998, CarMax Miami Lakes, Now Offering Curbside Pickup And Home Delivery), (230651920, Jetta, 66599.728, 2019, 22998, CarMax West Sahara, Now Offering Curbside Pickup And Home Delivery), (232670338, Atlas, 80781.454, 2018, 35998, CarMax Fremont, Now Open), (232644027, Atlas Cross Sport, 31336.884, 2020, 37998, CarMax Independence Boulevard, Now Offering Curbside Pickup And Home Delivery), (230904851, Passat, 83201.39, 2017, 17998, CarMax Ft. Lauderdale, Now Offering Curbside Pickup And Home Delivery), (231345193, Atlas, 19768.174, 2020, 44998, CarMax Frederick, Now Offering Curbside Pickup), (232349277, Tiguan, 47579.739, 2018, 32998, CarMax Gastonia, Now Offering Curbside Pickup And Home Delivery), (232776052, Tiguan, 104420.882, 2014, 19998, CarMax Murrieta, Now Offering Curbside Pickup And Home Delivery), (232289104, Jetta, 125635.547, 2016, 17998, CarMax Manchester, Now Offering Curbside Pickup), (230419192, Jetta, 29399.648, 2017, 22998, CarMax Glencoe (Edens Expy), Now Offering Curbside Pickup), (232489416, Beetle, 82923.033, 2013, 20998, CarMax El Paso, Now Offering Curbside Pickup), (232848639, Passat, 55410.742, 2018, 21998, CarMax Newark, Now Offering Curbside Pickup), (232850566, Jetta, 10392.531, 2021, 25998, CarMax Turnersville, Now Offering Curbside Pickup), (232778839, Tiguan, 91762.879, 2018, 20998, CarMax Sanford, Now Offering Curbside Pickup And Home Delivery), (232106560, Jetta, 112341.989, 2019, 19998, CarMax Gulf Freeway, Now Offering Curbside Pickup And Home Delivery), (232028696, Arteon, 11444.817, 2021, 44998, CarMax St. Louis Mid Rivers Mall, Now Offering Curbside Pickup), (232652409, Tiguan, 49549.155, 2019, 27998, CarMax Jacksonville, Now Offering Curbside Pickup And Home Delivery), (232849477, Jetta, 25948.343, 2019, 19998, CarMax Colorado Springs, Now Offering Curbside Pickup And Home Delivery), (232027118, Jetta, 45534.7, 2019, 25998, CarMax Gaithersburg, Now Offering Curbside Pickup), (231960124, Golf, 7227.628, 2020, 25998, CarMax Fort Bend, Now Offering Curbside Pickup And Home Delivery), (230450210, Tiguan, 25615.28, 2017, 21998, CarMax Miami Lakes, Now Offering Curbside Pickup And Home Delivery), (230651920, Jetta, 66599.728, 2019, 22998, CarMax West Sahara, Now Offering Curbside Pickup And Home Delivery), (232670338, Atlas, 80781.454, 2018, 35998, CarMax Fremont, Now Open), (232644027, Atlas Cross Sport, 31336.884, 2020, 37998, CarMax Independence Boulevard, Now Offering Curbside Pickup And Home Delivery), (230904851, Passat, 83201.39, 2017, 17998, CarMax Ft. Lauderdale, Now Offering Curbside Pickup And Home Delivery), (231345193, Atlas, 19768.174, 2020, 44998, CarMax Frederick, Now Offering Curbside Pickup), (232349277, Tiguan, 47579.739, 2018, 32998, CarMax Gastonia, Now Offering Curbside Pickup And Home Delivery), (232776052, Tiguan, 104420.882, 2014, 19998, CarMax Murrieta, Now Offering Curbside Pickup And Home Delivery);'

**update in database**

actualizar en base de datos

In [102]:
my_cur.execute(insert_query)
db.commit()

---